body{

  
  background:linear-gradient(to right,#Ffa500,#FFB6C1);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  

  
  }


h1{
   text-align: center;     
   color:black;     
        
       }

    
      
       
      